/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	-moz-box-sizing: border-box
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/***************************************************/
/*** roni's custom styles  ****************************/
/*   ************************************************* */

body{
	font-family: 'Open Sans', sans-serif;
	color:white;
	margin:0;
}
a{
	text-decoration:none;
	color: white;
}

ul,ol
{
	list-style-type:none;
}
section{
	width:100%;
}

.comverse-header{
	color:black;
	width: 100%;
    background: #FFFFFF; 
	box-shadow:2px 2px 20px #888888;
	z-index:100;
	position:fixed;
	left:0;
	top:0;
	display:block;
	
}


.container{ 
	
	width:100%;
	margin:auto;
	margin-top:0px;
	padding-top:10px;
	position:relative;
}

@media screen and (min-width: 960px) {
	.container {	
		max-width: 960px;
		}
}

@media screen and (min-width: 768px) and (max-width:959px) {
	.container {
	max-width:768px;
	}


}
.comverse-header img.comverse-logo{
float:left;
}

.comverse-header ol>li{
display:inline-block;
position: relative;
}
.top-right-nav {
position:absolute;
right:0;
top:0;
}
.comverse-header a
{
	color:black;
	line-height:20px;
}
nav{
display:inline-block;
padding-top:30px;
}

nav ol{
margin-bottom:1px;
}



.comverse-header ol>li >a{
	font-size:12px;
	padding-right:0.3em;
	padding-left:0.3em;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:grey;
	text-shadow: 0.3px 0.5px #888888;
	font-weight:lighter;
}
.comverse-header ol>li:first-child a{
border-left-style:none;
}
.comverse-header ol>li{
	padding-bottom:10px;
}

.search-header{
margin:0 auto;
display:inline-block;
 position:relative;
text-align:right;
width:30%;
}
.search-header input{
width:150px;
border: 1px solid #ccc;
position:relative;
border-radius:5px;
height:20px;
padding-left:5px;

}
.search-header button{
display:inline;
border:none;
background:none;
position:relative;
right:30px;
top:1px;
cursor:pointer;
}
.search-header img{
height:15px;
width:15px;
}

nav ol>li>ul{
	border: 1px solid rgba(255, 255, 255, 1);
	border-top: none;
	display: none;
	position: absolute;
	top:30px;
	left: 0;
	width: 100%;
	background-color:rgba(255, 255, 255,0.9);
	text-align:left;
	padding:0;
	
}

nav ol> li:hover > ul {
  display: block;
  padding:5px;
  box-shadow: 3px 3px 3px rgb(112, 112, 112);
}

.comverse-header li a:hover{
	color:blue;
}



.banner h2{
	padding-top:20px;
	padding-bottom:20px;
	font-size:30px;
	
}
.main-banner h3{
	font-size:20px;
	width:350px;
	padding-bottom:30px;
	font-weight:100;
}

.link-button {
  background: #1975D1;
  padding: 5px 20px 5px 10px;
  text-decoration:none;
  border-radius: 5px;
  color: white;
  font-size:13px;
  position:relative;
  width:150px;
  display:block;
  
}
.center-line{
	margin: 0 auto;
}


.link-button img{

padding-left:5px;
	height:10px;
	width:10px;
	position:absolute;
	right:10px;
	top:10px;
	
}

.squre-link-slide a{
	display:block;
	background-color:white;
	border-left-width:2px;
	opacity:0.7;
	
}
.squre-link-slide a:hover,
.squre-link-slide a:hover
{
	background:rgb(0,122,204);
	opacity:1;
	color:white;
	
}




.squre-link-slide li{
	display:inline-block;
	padding:1px;
	}
	
.squre-link-slide {
	padding:5px;
	}

.list-box-banner{
padding:0;
}	
.list-box-banner ul{
margin:0;
}
.pink-background-box
{
	background-color: rgb(255, 51, 153);
	opacity: 0.8;
}

.green-background-box
{
	background-color: rgb(90, 190, 40);
	opacity: 0.8;
}

.orange-background-box
{
	background-color: rgb(255, 102, 0);
	opacity: 0.8;
}

.pink-background-box:hover,
.green-background-box:hover,
.orange-background-box:hover
{
	opacity: 1;
}

.banner-box{
	
	width:27%;
	border-radius:5px;
	padding: 5px;
	display:inline-block;
	margin-right:3%;
	
}
.mobile-arrow{
display:none;
}


.banner-box h3{
	margin:0px;
	font-size:20px;
	font-weight: 100;
	padding:30px 00px 30px 10px
}
.banner-box a{
	font-size:12px;
	font-weight:bold;
	color:white;
}
.read-more img{
	height:20px;
	width:20px;
	padding-right:5px;
	
}
.solutions{
	margin-top:0;
	background-color:#3196C9;
	text-align:center;
	padding-bottom:30px;
}
.solutions h2{
padding-top:30px;
padding-bottom:30px;
margin-top:0;

}

.solution-container{
	width:14%;
	vertical-align:top;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	overflow-x:hidden;
}

.solution-container img{
margin-left:auto;
margin-right:auto;

display:block;
}


.solution-container a:hover img.icon1{
	content: url("../img/solution_icon_personal_hover.png");
}
.solution-container a:hover img.icon2{
	content: url("../img/solution_icon_biz-transform_hover.png");
}
.solution-container a:hover img.icon3{
	content: url("../img/solution_icon_diti-cx_hover.png");
}
.solution-container a:hover img.icon4{
	content: url("../img/solution_icon_optimize-efficnt_hover.png");
}
.solution-container a:hover img.icon5{
	content: url("../img/solution_icon_smart-money_hover.png");
}
.solution-container a:hover img.icon6{
	content: url("../img/solution_icon_biz-analitics_hover.png");
}

.solutions ul {
	display:block;
	margin-bottom:50px;
	padding-left:0;
	
}



.event{
	background:url(../img/news-and-events-bg.jpg) no-repeat center center fixed;
	background-size:cover;
	padding-bottom:40px;
}

.event  h2{
	padding-top:30px;
	margin-top:0;
	text-align:center;
}


.event ul
{
	padding-left:0px;
}

.event ul>li{
	display:inline-block;
	width:30%;
	margin-right:2%;
}
.event ul>li:last-of-type{
	
	margin-right:0;
}
@media(min-width:960px){
	.post-box{
		width:290px;
	}
}

@media(max-width:959px) and (min-width:767px){
	.post-box{
		width:230px;
		}
}

.datePublish
{
	padding:0px;
	margin:0px;
	color:white;
	background:#0099FF;
	text-align: center;
	display:inline-block;
	border-radius: 2px;
	width:60px;
	display:inline-block;
	
}

.datePublish div:first-child{
	display:block;

	font-size:50px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}
.datePublish div{
	display:block;
	font-size:20px;
}


.post-item
{
	background-color: rgba(255,255,255,0.7);
	padding: 15px 5px 15px 15px;
	
	margin-bottom :10px;
	color:black;
	border-radius:5px;
	
}
.post-item:hover{
	background-color: rgba(255,255,255,1);
}


.post-item > p{
	display:inline-block;
	margin:0px;
	padding-top:2px;
	padding-left:10px;
	font-size:14px;
	width:180px;
	vertical-align:top;
	
}

@media(min-width:960px){
	.post-item > p{
		width:180px;
	}
}
@media(min-width:768px) and (max-width:959px){
	.post-item > p{
		width:125px;
	}
}


.success-story{
	color:black;
	background-color:grey;
}


.one-stories-section
{
	display: inline-block;
}


.up-quote p:before
{
	content: url("../img/quote-grey.png");
}

.up-quote p:after
{
	content: url("../img/quote-grey.png");
}
.success-story{

	text-align:center;
	background-color:rgb(236,236,236);
	padding-bottom:10px;
}
.success-story ul{
padding-left:0;
width:310px;
display:inline-block;

vertical-align:top;
margin-left:5px;
text-align:left;
}
@media(max-width:960px){
	.success-story ul:last-of-type{
	display:none;
		
	}
}

.success-story ul>li{
	display:inline-block;
	background-color:white;
	margin-top:10px;
	border-radius:5px;
}


.big-success-story{
	width:auto;
	padding-left:0;
	display:block;
	padding:5px;
}

.big-success-story blockquote{
margin:0;
padding:0;

}
.big-success-story figure {
	width:300px;
	padding-left:0;
	margin:0;
	display:inline-block;
	width:inherit;
	vertical-align:top;
}
.up-quote p{
display:inline-block;
width:190px;
margin:0;
padding-left:5px;

}
.big-success-story cite{

display:inline-block;
margin-top:10px;
padding-top:10px;
border-top-width:1px;
border-top-style:solid;
border-top-color:gray;
width:300px;
}

.big-success-story cite div{
width:200px;
display:inline-block;
font-size:13px;
}
.big-success-story cite div>div:first-of-type{
font-weight:bold;
color:rgb(0, 153, 255);
font-size:14px;
}

.big-success-story figure>img{
	height:100px;
	width: 100px;
	border-radius:10px;
}
.big-success-story cite img{	
		width: 100px;
		height: 42px;
		
}

.big-success-story a{
	vertical-align:top;
	float:left;
}



.big-success-story cite a{
	float:right;
}
.small-story a{
	float:left;
	width:100px;
	height:90px;
	

}

.small-story img{
	position:relative;
	height: 90px;
	width: 100px;
	display:inline-block;
	border-radius:5px;
 }
 
.up-image { 
    position: relative;
	margin-left:0;
    top: -90px;
    overflow-y: hidden;
	-webkit-transition: 0.7s;
	transition-property: all;
	max-height: 94px;
	
}

 


.small-story:hover .up-image {
    max-height: 0px;
}

 
.white-font{
	color:white;
}
.footer-page{
overflow-y:hidden;
}


footer .container
{
padding:0;
}

footer{
	background-color:black;
	padding-bottom:1px;
	overflow-x:hidden;
}

.footer-links-list h3{
	font-size:13px;
	font-weight:bold;
}

.footer-page ol{
margin:0;
}
footer ol,
footer ul{
	padding-left:0;
	padding-right:10px;
}
footer li{
	padding-left:0;
	display:inline-block;
	vertical-align:top;
	padding-right:10px;
	
}
footer li li{
	padding-left:0;
	display:block;
}

footer .container>ul.footer-links-list{
	width:670px;
	float:left;
	
}
footer li >ul{
	width:200px;
}

footer a{
	font-size:12px;
	font-weight:lighter;
}
footer aside {
	background-color: rgba(255, 255, 255,0.1);
	width:260px;
	float:right;
	padding-bottom:10px;
	padding-left:5px;
	
	
}

footer aside>h3  {
	
	font-size:20px;
	color:rgb(0, 153, 255);
}


footer .day-post {
font-size:20px;
}
footer .day-post :first-child{
font-size:35px;
font-weight:bold;
}

footer .copyright{
display:block;
}

footer .copyright,
footer .copyright a
{
	font-size:12px;
	font-weight:100;
}


#twitter-icon:hover img{
	content: url("../img/socialMenuIcon-twitter_hover.png");
}
#youtube-icon:hover img{
	content: url("../img/socialMenuIcon-youtube_hover.png");
}
#linkin-icon:hover img{
	content: url("../img/socialMenuIcon-linkdin_hover.png");
}

@media screen and (min-width: 768px) and (max-width: 959px) {
	.footer-links-list{
	padding-left:10%;
	}
	.copyright{
		width:100%;
		padding-left:10%;
	}
}


@media screen and (min-width: 768px) {
	.banner{
		margin-top:60px;
		padding-top:30px;
		background:url(../img/slide-bg-complexity.jpg) no-repeat center 70px fixed;
		margin-bottom:0;
	}


	.mobile-header{
		display:none;
	}
	.banner{
		padding-bottom:80px;
		}
	.mobile-footer,
	.mobile-addition{
		display:none;
	}
	.squre-link-slide a{
		
		height:15px;
		width:15px;
	}
	.squre-link-slide{
		margin-bottom:70px;
	}
	
}



