
body{
	font-family: 'Open Sans', sans-serif;
	color:white;
}
a{
	text-decoration:none;
	color: white;
}


.comverse-header{
	color:black;
	width: 100%;
    background: #FFFFFF; 
	
}

.comverse-header a
{
	color:black;
}
header ol{
	list-style-type:none;
	
}

nav li{
	font-size:12px;
}

.banner{
margin-top:75px;
background-image:url(../img/slide-bg-complexity.jpg);
background-attachment: fixed;
}
.banner h3{
	font-weight: normal;
}

.link-button {
  background: #1975D1;
  padding: 5px 20px 5px 10px;
  text-decoration:none;
  border-radius: 5px;
  color: white;
  font-size:13px;
}


.link-button img{
padding-left:5px;
	height:10px;
	width:10px;
}

.pink-background-box
{
	background-color: rgb(255, 51, 153);
	opacity: 0.7;
}

.green-background-box
{
	background-color: rgb(90, 190, 40);
	opacity: 0.7;
}

.orange-background-box
{
	background-color: rgb(255, 102, 0);
	opacity: 0.7;
}

.pink-background-box:hover,
.green-background-box:hover,
.orange-background-box:hover
{
	opacity: 1;
}

.banner-box{
	
	width:225px;
	border-radius:5px;
	padding: 5px;
	
}
.banner-box h3{
	margin:0px;
	font-weight: lighter;
	padding-bottom:15px
}
.banner-box a{
	font-size:12px;
	font-weight:bold;
	color:white;
}
.banner-box img{
	height:20px;
	width:20px;
	padding-right:5px;
}
.solutions{
	background-color:#3196C9;
	text-align:center;
}

.solution-container{
	width:auto;
	vertical-align:top;
	text-align:center;
	display:inline-block;
}

.solution-container img{
display:block;
}


.solution-container a:hover img{
	content: url("../img/solution_icon_personal_hover.png");
}
.solutions ul {
	display:block;
	width:90%;
	
}



.event{
	background-image:url(../img/news-and-events-bg.jpg);
	background-attachment: fixed;
	background-size:cover;
}


.post-box{
	width:300px;
}

.datePublish
{
	padding:0px;
	margin:0px;
	color:white;
	background:#0099FF;
	text-align: center;
	float:left;
	border-radius: 2px;
	width:60px;
	display:inline-block;
	
}

.day{
display:block;

font-size:300%;
border-bottom-style: dotted;
border-bottom-width: 1px;
}
.month{
	display:block;
	font-size:130%;
}


.post-item
{
	background-color: rgba(255,255,255,0.7);
	
	padding:25px;
	margin-bottom :10px;
	color:black;
	margin:0px;
}
.post-item:hover{
	background-color: rgba(255,255,255,1);
}


.post-item > p{
	display:inline-block;
	margin:0px;
	padding-top:0px;
	padding-left:10px;
	font-size:14px;
	
	
}
.success-story{
	color:black;
	background-color:white;
}
.success-story  a{
	color:black;
	
}


.big-success-story cite{
border-top-width:1px;
border-top-style:solid;
border-top-color:gray;
}
.success-story img{
	height: 94px;
	width: 107px;
	display:inline-block;
 }
 
.white-font{
	color:white;
}