@media screen and (max-width:960px){
	aside{
		display:none;
	}
	.copyright{
		display:block;
		width:100%;
	}
	footer .container>ul{
	float:none;
	}
}

@media screen and (max-width:600px){
	.mobile-bar{
	display:block;
	padding-top:20px;
	padding-bottom:20px;
	}
	
	.comverse-header .navbar{
		display:none;
	}
	
	.banner{
	padding-bottom:0;
	}
	
	.squre-link-slide{
		margin-top:100px;
	}
	.squre-link-slide a{
	opacity:1;
	padding:10px;
	border-radius:3px;
	text-align:center;
	vertical-align:top;
	color:white;
	}
	.mobile-addition{
	display:inline;
	color:black;
	}
	.squre-link-slide a:hover span{
		color:white;
	}
	.banner-box,
	.list-box-banner ul{
	padding:0;
	border-top:5px solid white;
	border-bottom:5px solid white;
	}
	
	.list-box-banner li{
	display:block;
	width:100%;
	position:relative;
	}
	.banner-box>h3{
	width:70%;
	font-size:28px;
		
	}
	
	.banner-box>div:last-of-type{
		width:10%;
		height:100%;
		margin:0 auto;
		vertical-align:middle;
		displa:inline-block;
	}
	img.mobile-arrow{
		display:inline;
		position:absolute;
		right:3px;
		top:48%;
	}
	
	
	
	
	
	.solution-container{
	width:32%;
	
	}

	.solution-container img{
	
	height:60px;
	}
	
	.event ul>li{
	display:block;
	padding-left:15px;
	width:100%;
	}
	.post-box{
	width:95%;
	}
	
	.post-item > p{

	width:70%;
	}
	.success-story ul{
	display:block;
	margin:0 auto;
	}
	.success-story ul:last-of-type{
	display:none;
		
	}
	
}
